In [1]:
import pandas as pd

In [2]:
dfBalidanNusa = pd.read_csv('./Ridwan Kamil_Bali dan Nusa Tenggara.csv', lineterminator='\n')
dfJakarta = pd.read_csv('./Ridwan Kamil_Jakarta.csv', lineterminator='\n')
dfJabar = pd.read_csv('./Ridwan Kamil_Jawa Barat.csv', lineterminator='\n')
dfJateng = pd.read_csv('./Ridwan Kamil_Jawa Tengah.csv', lineterminator='\n')
dfTimur = pd.read_csv('./Ridwan Kamil_Jawa Timur.csv', lineterminator='\n')
dfJogja = pd.read_csv('./Ridwan Kamil_Jogja.csv', lineterminator='\n')
dfKalimantan = pd.read_csv('./Ridwan Kamil_Kalimantan.csv', lineterminator='\n')
dfPapua = pd.read_csv('./Ridwan Kamil_Papua.csv', lineterminator='\n')
dfSulawesi = pd.read_csv('./Ridwan Kamil_Sulawesi.csv', lineterminator='\n')
dfSumatera = pd.read_csv('./Ridwan Kamil_Sumatera.csv', lineterminator='\n')

In [3]:
dfConcat = pd.concat([dfBalidanNusa, dfJakarta, dfJabar, dfJateng, dfTimur, dfJogja, dfKalimantan, dfPapua, dfSulawesi, dfSumatera ], ignore_index=True)

In [4]:
dfConcat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70149 entries, 0 to 70148
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  70149 non-null  int64
 1   DateTime    70149 non-null  object
 2   Tweet Id    70149 non-null  float64
 3   Tweet       70149 non-null  object
 4   Username    70149 non-null  object
 5   Location    20843 non-null  object
           49 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 3.7+ MB

In [5]:
df_new = dfConcat.loc[:, ['DateTime', 'Tweet Id', 'Tweet', 'Username', 'Location']] # using loc

In [6]:
df_new = df_new.reset_index(drop=True)

In [7]:
df_new.to_csv('0. Data_Ridwan_Full.csv')